{% include "header.html" %}
   <body>
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
      <h3>users (<a href = "{{ url_for('new') }}">Add User
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Phone</th>
            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>